body{
    font-family: Verdana, sans-serif;
    text-align: center;
}
input{
    margin: 1rem;
    border: none;
    border-bottom: 1px solid #28695F;
    outline: none;
}
button{
    border: none;
    padding: .5rem 2rem;
    background-color: #28695F;
    color: #fff;
}
button:hover{
    background-color: #a6d6cf;
}

li{
    list-style-type: none; /* Remove bullets */
    border-bottom: 1px solid #28695F;
    margin: 1rem 5rem;
}